#container {
    width: 100%;
    margin: 0 auto;
    background-color: lightsalmon;
}

span {
    border: 1px solid black;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: aquamarine;
    display: none;
}

.fizz {
    background-color: yellow;
}

.buzz {
    background-color: blue;
}

.fizzbuzz {
    background-color: green;
}

#submit {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    background-color: orangered;
    color: #fff;
    border: none;
    margin: 10px;
    
}

#submit:hover {
    background-color: green;
}

#reset {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    background-color: gray;
    color: #fff;
    border: none;
    margin: 10px;
    
}

#reset:hover {
    background-color: orangered;
}

form {
    text-align: center;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
    height: 30px;
    margin: 5px;
}
.error {
    color: firebrick;
}


#output {
    display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-areas: ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . .";
  
}


@media (max-width: 576px) {
#container {
    width: 300px;
    min-height: 100%;

}
#output {
    display: inline;
   
        }
}

@media (max-width: 992px) {
#container {
    width: 500px;
    height: 100%;
    margin : 0 auto;
}

#output {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . .";
}
}